#ourpeopleMAIN_80 {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 743.42px;
    min-height: calc(87% - 95px);
    text-decoration: none solid rgb(37, 56, 88);
    width: 1349px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 674.5px 1371.7px;
    transform-origin: 674.5px 1371.71px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleMAIN_80*/

#ourpeopleSECTION_1 {
    bottom: 0px;
    box-sizing: border-box;
    clear: both;
    color: rgb(37, 56, 88);
    height: 724px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    top: 0px;
    width: 1349px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 674.5px 362px;
    transform-origin: 674.5px 362px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
    overflow: hidden;
}/*#ourpeopleSECTION_1*/

#ourpeopleSECTION_1:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleSECTION_1:after*/

#ourpeopleSECTION_1:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleSECTION_1:before*/

#ourpeopleDIV_2 {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    display: flex;
    height: 724px;
    max-width: 1008px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    width: 1008px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 504px 362px;
    transform-origin: 504px 362px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    flex-flow: row wrap;
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 170.5px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_2*/

#ourpeopleDIV_2:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(37, 56, 88);
    display: table;
    height: 50px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    width: 1008px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 504px 25px;
    transform-origin: 504px 25px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
    padding: 0px 0px 50.3906px;
}/*#ourpeopleDIV_2:after*/

#ourpeopleDIV_2:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    display: table;
    height: 50px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    width: 1008px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 504px 25px;
    transform-origin: 504px 25px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
    padding: 50.3906px 0px 0px;
}/*#ourpeopleDIV_2:before*/

#ourpeopleDIV_3 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 96px;
    left: 0px;
    min-height: 1px;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(37, 56, 88);
    top: 0px;
    width: 960px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 480px 48px;
    transform-origin: 480px 48px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 23.9844px 40px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_3*/

#ourpeopleDIV_3:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: center;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_3:after*/

#ourpeopleDIV_3:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: center;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_3:before*/

#ourpeopleH2_4 {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 48px;
    text-align: center;
    text-decoration: none solid rgb(37, 56, 88);
    width: 960px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 480px 24px;
    transform-origin: 480px 24px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 700 normal 40px / 48px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 0px 14px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleH2_4*/

#ourpeopleH2_4:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: center;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 500 normal 36px / 48px "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleH2_4:after*/

#ourpeopleH2_4:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: center;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 500 normal 36px / 48px "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleH2_4:before*/

#ourpeopleP_5 {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(37, 56, 88);
    width: 960px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 480px 12px;
    transform-origin: 480px 12px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleP_5*/

#ourpeopleP_5:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: center;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleP_5:after*/

#ourpeopleP_5:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: center;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleP_5:before*/

#ourpeopleDIV_6, #ourpeopleDIV_13, #ourpeopleDIV_22, #ourpeopleDIV_31, #ourpeopleDIV_40 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 236px;
    left: 0px;
    min-height: 1px;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    top: 0px;
    width: 174px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 76.7969px 118px;
    transform-origin: 76.7969px 118px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 23.9844px 20px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_6, #ourpeopleDIV_13, #ourpeopleDIV_22, #ourpeopleDIV_31, #ourpeopleDIV_40*/

#ourpeopleDIV_6:after, #ourpeopleDIV_13:after, #ourpeopleDIV_22:after, #ourpeopleDIV_31:after, #ourpeopleDIV_40:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_6:after, #ourpeopleDIV_13:after, #ourpeopleDIV_22:after, #ourpeopleDIV_31:after, #ourpeopleDIV_40:after*/

#ourpeopleDIV_6:before, #ourpeopleDIV_13:before, #ourpeopleDIV_22:before, #ourpeopleDIV_31:before, #ourpeopleDIV_40:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_6:before, #ourpeopleDIV_13:before, #ourpeopleDIV_22:before, #ourpeopleDIV_31:before, #ourpeopleDIV_40:before*/

#ourpeopleIMG_7, #ourpeopleIMG_14, #ourpeopleIMG_23, #ourpeopleIMG_32, #ourpeopleIMG_41, #ourpeopleIMG_48, #ourpeopleIMG_57, #ourpeopleIMG_66, #ourpeopleIMG_72 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    display: block;
    height: 75px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    top: 0px;
    vertical-align: bottom;
    width: 75px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 37.5px 37.5px;
    transform-origin: 37.5px 37.5px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleIMG_7, #ourpeopleIMG_14, #ourpeopleIMG_23, #ourpeopleIMG_32, #ourpeopleIMG_41, #ourpeopleIMG_48, #ourpeopleIMG_57, #ourpeopleIMG_66, #ourpeopleIMG_72*/

#ourpeopleIMG_7:after, #ourpeopleIMG_14:after, #ourpeopleIMG_23:after, #ourpeopleIMG_32:after, #ourpeopleIMG_41:after, #ourpeopleIMG_48:after, #ourpeopleIMG_57:after, #ourpeopleIMG_66:after, #ourpeopleIMG_72:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleIMG_7:after, #ourpeopleIMG_14:after, #ourpeopleIMG_23:after, #ourpeopleIMG_32:after, #ourpeopleIMG_41:after, #ourpeopleIMG_48:after, #ourpeopleIMG_57:after, #ourpeopleIMG_66:after, #ourpeopleIMG_72:after*/

#ourpeopleIMG_7:before, #ourpeopleIMG_14:before, #ourpeopleIMG_23:before, #ourpeopleIMG_32:before, #ourpeopleIMG_41:before, #ourpeopleIMG_48:before, #ourpeopleIMG_57:before, #ourpeopleIMG_66:before, #ourpeopleIMG_72:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleIMG_7:before, #ourpeopleIMG_14:before, #ourpeopleIMG_23:before, #ourpeopleIMG_32:before, #ourpeopleIMG_41:before, #ourpeopleIMG_48:before, #ourpeopleIMG_57:before, #ourpeopleIMG_66:before, #ourpeopleIMG_72:before*/

#ourpeopleH4_8, #ourpeopleH4_24, #ourpeopleH4_42, #ourpeopleH4_49, #ourpeopleH4_58, #ourpeopleH4_67, #ourpeopleH4_73 {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    width: 153.594px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 76.7969px 12px;
    transform-origin: 76.7969px 12px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 500 normal 20px / 24px "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 25px 0px 16px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleH4_8, #ourpeopleH4_24, #ourpeopleH4_42, #ourpeopleH4_49, #ourpeopleH4_58, #ourpeopleH4_67, #ourpeopleH4_73*/

#ourpeopleH4_8:after, #ourpeopleH4_24:after, #ourpeopleH4_42:after, #ourpeopleH4_49:after, #ourpeopleH4_58:after, #ourpeopleH4_67:after, #ourpeopleH4_73:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    letter-spacing: 0.3px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 500 normal 20px / 24px "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleH4_8:after, #ourpeopleH4_24:after, #ourpeopleH4_42:after, #ourpeopleH4_49:after, #ourpeopleH4_58:after, #ourpeopleH4_67:after, #ourpeopleH4_73:after*/

#ourpeopleH4_8:before, #ourpeopleH4_24:before, #ourpeopleH4_42:before, #ourpeopleH4_49:before, #ourpeopleH4_58:before, #ourpeopleH4_67:before, #ourpeopleH4_73:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    letter-spacing: 0.3px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 500 normal 20px / 24px "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleH4_8:before, #ourpeopleH4_24:before, #ourpeopleH4_42:before, #ourpeopleH4_49:before, #ourpeopleH4_58:before, #ourpeopleH4_67:before, #ourpeopleH4_73:before*/

#ourpeopleP_9, #ourpeopleP_16, #ourpeopleP_25, #ourpeopleP_34, #ourpeopleP_43, #ourpeopleP_50, #ourpeopleP_59, #ourpeopleP_68, #ourpeopleP_74 {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 24px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    width: 153.594px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 76.7969px 12px;
    transform-origin: 76.7969px 12px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 0px 24px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleP_9, #ourpeopleP_16, #ourpeopleP_25, #ourpeopleP_34, #ourpeopleP_43, #ourpeopleP_50, #ourpeopleP_59, #ourpeopleP_68, #ourpeopleP_74*/

#ourpeopleP_9:after, #ourpeopleP_16:after, #ourpeopleP_25:after, #ourpeopleP_34:after, #ourpeopleP_43:after, #ourpeopleP_50:after, #ourpeopleP_59:after, #ourpeopleP_68:after, #ourpeopleP_74:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleP_9:after, #ourpeopleP_16:after, #ourpeopleP_25:after, #ourpeopleP_34:after, #ourpeopleP_43:after, #ourpeopleP_50:after, #ourpeopleP_59:after, #ourpeopleP_68:after, #ourpeopleP_74:after*/

#ourpeopleP_9:before, #ourpeopleP_16:before, #ourpeopleP_25:before, #ourpeopleP_34:before, #ourpeopleP_43:before, #ourpeopleP_50:before, #ourpeopleP_59:before, #ourpeopleP_68:before, #ourpeopleP_74:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleP_9:before, #ourpeopleP_16:before, #ourpeopleP_25:before, #ourpeopleP_34:before, #ourpeopleP_43:before, #ourpeopleP_50:before, #ourpeopleP_59:before, #ourpeopleP_68:before, #ourpeopleP_74:before*/

#ourpeopleA_10, #ourpeopleA_17, #ourpeopleA_26, #ourpeopleA_35, #ourpeopleA_44, #ourpeopleA_51, #ourpeopleA_60, #ourpeopleA_75 {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    display: inline-block;
    height: 18px;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    vertical-align: top;
    width: 84.7813px;
    column-rule-color: rgb(0, 82, 204);
    perspective-origin: 42.3906px 9px;
    transform-origin: 42.3906px 9px;
    caret-color: rgb(0, 82, 204);
    border-top: 0px none rgb(0, 82, 204);
    border-right: 1px solid rgb(193, 199, 208);
    border-bottom: 0px none rgb(0, 82, 204);
    border-left: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 18px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 8px 0px 0px;
    outline: rgb(0, 82, 204) none 0px;
    padding: 0px 10px 0px 0px;
}/*#ourpeopleA_10, #ourpeopleA_17, #ourpeopleA_26, #ourpeopleA_35, #ourpeopleA_44, #ourpeopleA_51, #ourpeopleA_60, #ourpeopleA_75*/

#ourpeopleA_10:after, #ourpeopleA_17:after, #ourpeopleA_26:after, #ourpeopleA_35:after, #ourpeopleA_44:after, #ourpeopleA_51:after, #ourpeopleA_60:after, #ourpeopleA_75:after {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 18px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleA_10:after, #ourpeopleA_17:after, #ourpeopleA_26:after, #ourpeopleA_35:after, #ourpeopleA_44:after, #ourpeopleA_51:after, #ourpeopleA_60:after, #ourpeopleA_75:after*/

#ourpeopleA_10:before, #ourpeopleA_17:before, #ourpeopleA_26:before, #ourpeopleA_35:before, #ourpeopleA_44:before, #ourpeopleA_51:before, #ourpeopleA_60:before, #ourpeopleA_75:before {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 18px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleA_10:before, #ourpeopleA_17:before, #ourpeopleA_26:before, #ourpeopleA_35:before, #ourpeopleA_44:before, #ourpeopleA_51:before, #ourpeopleA_60:before, #ourpeopleA_75:before*/

#ourpeopleA_11, #ourpeopleA_36, #ourpeopleA_38, #ourpeopleA_45, #ourpeopleA_52, #ourpeopleA_54, #ourpeopleA_61, #ourpeopleA_63, #ourpeopleA_69, #ourpeopleA_76, #ourpeopleA_78 {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    display: inline-block;
    height: 18px;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    width: 26px;
    column-rule-color: rgb(0, 82, 204);
    perspective-origin: 13px 9px;
    transform-origin: 13px 9px;
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
    padding: 0px 6px 0px 0px;
}/*#ourpeopleA_11, #ourpeopleA_36, #ourpeopleA_38, #ourpeopleA_45, #ourpeopleA_52, #ourpeopleA_54, #ourpeopleA_61, #ourpeopleA_63, #ourpeopleA_69, #ourpeopleA_76, #ourpeopleA_78*/

#ourpeopleA_11:after, #ourpeopleA_36:after, #ourpeopleA_38:after, #ourpeopleA_45:after, #ourpeopleA_52:after, #ourpeopleA_54:after, #ourpeopleA_61:after, #ourpeopleA_63:after, #ourpeopleA_69:after, #ourpeopleA_76:after, #ourpeopleA_78:after {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleA_11:after, #ourpeopleA_36:after, #ourpeopleA_38:after, #ourpeopleA_45:after, #ourpeopleA_52:after, #ourpeopleA_54:after, #ourpeopleA_61:after, #ourpeopleA_63:after, #ourpeopleA_69:after, #ourpeopleA_76:after, #ourpeopleA_78:after*/

#ourpeopleA_11:before, #ourpeopleA_36:before, #ourpeopleA_38:before, #ourpeopleA_45:before, #ourpeopleA_52:before, #ourpeopleA_54:before, #ourpeopleA_61:before, #ourpeopleA_63:before, #ourpeopleA_69:before, #ourpeopleA_76:before, #ourpeopleA_78:before {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleA_11:before, #ourpeopleA_36:before, #ourpeopleA_38:before, #ourpeopleA_45:before, #ourpeopleA_52:before, #ourpeopleA_54:before, #ourpeopleA_61:before, #ourpeopleA_63:before, #ourpeopleA_69:before, #ourpeopleA_76:before, #ourpeopleA_78:before*/

#ourpeopleIMG_12, #ourpeopleIMG_37, #ourpeopleIMG_46, #ourpeopleIMG_53, #ourpeopleIMG_62, #ourpeopleIMG_70, #ourpeopleIMG_77 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    display: block;
    height: 18px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    top: 0px;
    vertical-align: bottom;
    width: 20px;
    column-rule-color: rgb(0, 82, 204);
    perspective-origin: 10px 9px;
    transform-origin: 10px 9px;
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_12, #ourpeopleIMG_37, #ourpeopleIMG_46, #ourpeopleIMG_53, #ourpeopleIMG_62, #ourpeopleIMG_70, #ourpeopleIMG_77*/

#ourpeopleIMG_12:after, #ourpeopleIMG_37:after, #ourpeopleIMG_46:after, #ourpeopleIMG_53:after, #ourpeopleIMG_62:after, #ourpeopleIMG_70:after, #ourpeopleIMG_77:after {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_12:after, #ourpeopleIMG_37:after, #ourpeopleIMG_46:after, #ourpeopleIMG_53:after, #ourpeopleIMG_62:after, #ourpeopleIMG_70:after, #ourpeopleIMG_77:after*/

#ourpeopleIMG_12:before, #ourpeopleIMG_37:before, #ourpeopleIMG_46:before, #ourpeopleIMG_53:before, #ourpeopleIMG_62:before, #ourpeopleIMG_70:before, #ourpeopleIMG_77:before {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_12:before, #ourpeopleIMG_37:before, #ourpeopleIMG_46:before, #ourpeopleIMG_53:before, #ourpeopleIMG_62:before, #ourpeopleIMG_70:before, #ourpeopleIMG_77:before*/

#ourpeopleH4_15, #ourpeopleH4_33 {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 48px;
    letter-spacing: 0.3px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    width: 153.594px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 76.7969px 24px;
    transform-origin: 76.7969px 24px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 500 normal 20px / 24px "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 25px 0px 16px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleH4_15, #ourpeopleH4_33*/

#ourpeopleH4_15:after, #ourpeopleH4_33:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    letter-spacing: 0.3px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 500 normal 20px / 24px "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleH4_15:after, #ourpeopleH4_33:after*/

#ourpeopleH4_15:before, #ourpeopleH4_33:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    letter-spacing: 0.3px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 500 normal 20px / 24px "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleH4_15:before, #ourpeopleH4_33:before*/

#ourpeopleA_18, #ourpeopleA_20, #ourpeopleA_27, #ourpeopleA_29 {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    display: inline-block;
    height: 18px;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    width: 24px;
    column-rule-color: rgb(0, 82, 204);
    perspective-origin: 12px 9px;
    transform-origin: 12px 9px;
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
    padding: 0px 6px 0px 0px;
}/*#ourpeopleA_18, #ourpeopleA_20, #ourpeopleA_27, #ourpeopleA_29*/

#ourpeopleA_18:after, #ourpeopleA_20:after, #ourpeopleA_27:after, #ourpeopleA_29:after {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleA_18:after, #ourpeopleA_20:after, #ourpeopleA_27:after, #ourpeopleA_29:after*/

#ourpeopleA_18:before, #ourpeopleA_20:before, #ourpeopleA_27:before, #ourpeopleA_29:before {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleA_18:before, #ourpeopleA_20:before, #ourpeopleA_27:before, #ourpeopleA_29:before*/

#ourpeopleIMG_19, #ourpeopleIMG_21, #ourpeopleIMG_30 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    display: block;
    height: 18px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    top: 0px;
    vertical-align: bottom;
    width: 18px;
    column-rule-color: rgb(0, 82, 204);
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_19, #ourpeopleIMG_21, #ourpeopleIMG_30*/

#ourpeopleIMG_19:after, #ourpeopleIMG_21:after, #ourpeopleIMG_30:after {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_19:after, #ourpeopleIMG_21:after, #ourpeopleIMG_30:after*/

#ourpeopleIMG_19:before, #ourpeopleIMG_21:before, #ourpeopleIMG_30:before {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_19:before, #ourpeopleIMG_21:before, #ourpeopleIMG_30:before*/

#ourpeopleIMG_28 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    display: block;
    height: 18px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    top: 0px;
    vertical-align: bottom;
    width: 18px;
    column-rule-color: rgb(0, 82, 204);
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_28*/

#ourpeopleIMG_28:after {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_28:after*/

#ourpeopleIMG_28:before {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_28:before*/

#ourpeopleIMG_39, #ourpeopleIMG_55, #ourpeopleIMG_64, #ourpeopleIMG_79 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    display: block;
    height: 18px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    top: 0px;
    vertical-align: bottom;
    width: 20px;
    column-rule-color: rgb(0, 82, 204);
    perspective-origin: 10px 9px;
    transform-origin: 10px 9px;
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_39, #ourpeopleIMG_55, #ourpeopleIMG_64, #ourpeopleIMG_79*/

#ourpeopleIMG_39:after, #ourpeopleIMG_55:after, #ourpeopleIMG_64:after, #ourpeopleIMG_79:after {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_39:after, #ourpeopleIMG_55:after, #ourpeopleIMG_64:after, #ourpeopleIMG_79:after*/

#ourpeopleIMG_39:before, #ourpeopleIMG_55:before, #ourpeopleIMG_64:before, #ourpeopleIMG_79:before {
    box-sizing: border-box;
    color: rgb(0, 82, 204);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 82, 204);
    column-rule-color: rgb(0, 82, 204);
    caret-color: rgb(0, 82, 204);
    border: 0px none rgb(0, 82, 204);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(0, 82, 204) none 0px;
}/*#ourpeopleIMG_39:before, #ourpeopleIMG_55:before, #ourpeopleIMG_64:before, #ourpeopleIMG_79:before*/

#ourpeopleDIV_47 {
    bottom: 0px;
    box-sizing: border-box;
    clear: both;
    color: rgb(37, 56, 88);
    height: 212px;
    left: 0px;
    min-height: 1px;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    top: 0px;
    width: 153.594px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 76.7969px 106px;
    transform-origin: 76.7969px 106px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 23.9844px 20px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_47*/

#ourpeopleDIV_47:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_47:after*/

#ourpeopleDIV_47:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_47:before*/

#ourpeopleDIV_56, #ourpeopleDIV_65 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 212px;
    left: 0px;
    min-height: 1px;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    top: 0px;
    width: 153.594px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 76.7969px 106px;
    transform-origin: 76.7969px 106px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 23.9844px 20px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_56, #ourpeopleDIV_65*/

#ourpeopleDIV_56:after, #ourpeopleDIV_65:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_56:after, #ourpeopleDIV_65:after*/

#ourpeopleDIV_56:before, #ourpeopleDIV_65:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_56:before, #ourpeopleDIV_65:before*/

#ourpeopleDIV_71 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    height: 212px;
    left: 0px;
    min-height: 1px;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    top: 0px;
    width: 153.594px;
    column-rule-color: rgb(37, 56, 88);
    perspective-origin: 76.7969px 106px;
    transform-origin: 76.7969px 106px;
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0px 23.9844px 20px;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_71*/

#ourpeopleDIV_71:after {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_71:after*/

#ourpeopleDIV_71:before {
    box-sizing: border-box;
    color: rgb(37, 56, 88);
    text-align: left;
    text-decoration: none solid rgb(37, 56, 88);
    column-rule-color: rgb(37, 56, 88);
    caret-color: rgb(37, 56, 88);
    border: 0px none rgb(37, 56, 88);
    font: normal normal 400 normal 16px / 24px "Charlie Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    outline: rgb(37, 56, 88) none 0px;
}/*#ourpeopleDIV_71:before*/






/* Glow */
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
