#beginSECTION_1 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 1883px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 1349px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 674.5px 991.5px;
    transform-origin: 674.5px 991.5px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 100px 0px;
}/*#beginSECTION_1*/

#beginSECTION_1:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginSECTION_1:after*/

#beginSECTION_1:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginSECTION_1:before*/

#beginDIV_2 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 1783px;
    max-width: 1140px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 1140px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 570px 891.5px;
    transform-origin: 570px 891.5px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    margin: 0px 104.5px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 15px;
}/*#beginDIV_2*/

#beginDIV_2:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_2:after*/

#beginDIV_2:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_2:before*/

#beginDIV_3 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    height: 157px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 1140px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 570px 78.5px;
    transform-origin: 570px 78.5px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    flex-flow: row wrap;
    font-family: montserrat,sans-serif;
    margin: 0px -15px;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_3*/

#beginDIV_3:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_3:after*/

#beginDIV_3:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_3:before*/

#beginDIV_4 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 90px;
    left: 0px;
    max-width: 100%;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    width: 1140px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 570px 78.5px;
    transform-origin: 570px 78.5px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    flex: 0 0 100%;
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 15px;
}/*#beginDIV_4*/

#beginDIV_4:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_4:after*/

#beginDIV_4:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_4:before*/

#beginH2_5 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 48px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 1110px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 555px 24px;
    transform-origin: 555px 24px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 40px / 48px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 0px 15px;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH2_5*/

#beginH2_5:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 40px / 48px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH2_5:after*/

#beginH2_5:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 40px / 48px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH2_5:before*/

#beginH3_6 {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    height: 19px;
    text-align: center;
    text-decoration: none solid rgb(108, 117, 125);
    text-size-adjust: 100%;
    width: 1110px;
    column-rule-color: rgb(108, 117, 125);
    perspective-origin: 555px 9.5px;
    transform-origin: 555px 9.5px;
    caret-color: rgb(108, 117, 125);
    border: 0px none rgb(108, 117, 125);
    font: italic normal 400 normal 16px / 19.2px "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 0px 75px;
    outline: rgb(108, 117, 125) none 0px;
}/*#beginH3_6*/

#beginH3_6:after {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    text-align: center;
    text-decoration: none solid rgb(108, 117, 125);
    text-size-adjust: 100%;
    column-rule-color: rgb(108, 117, 125);
    caret-color: rgb(108, 117, 125);
    border: 0px none rgb(108, 117, 125);
    font: italic normal 400 normal 16px / 19.2px "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(108, 117, 125) none 0px;
}/*#beginH3_6:after*/

#beginH3_6:before {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    text-align: center;
    text-decoration: none solid rgb(108, 117, 125);
    text-size-adjust: 100%;
    column-rule-color: rgb(108, 117, 125);
    caret-color: rgb(108, 117, 125);
    border: 0px none rgb(108, 117, 125);
    font: italic normal 400 normal 16px / 19.2px "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(108, 117, 125) none 0px;
}/*#beginH3_6:before*/

#beginDIV_7 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    height: 1626px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 1140px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 570px 813px;
    transform-origin: 570px 813px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    flex-flow: row wrap;
    font-family: montserrat,sans-serif;
    margin: 0px -15px;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_7*/

#beginDIV_7:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_7:after*/

#beginDIV_7:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_7:before*/

#beginDIV_8 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 1626px;
    left: 0px;
    max-width: 100%;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    width: 1140px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 570px 813px;
    transform-origin: 570px 813px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    flex: 0 0 100%;
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 15px;
}/*#beginDIV_8*/

#beginDIV_8:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_8:after*/

#beginDIV_8:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_8:before*/

#beginUL_9 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 1610px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    width: 1110px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 555px 805px;
    transform-origin: 555px 805px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    margin: 0px 0px 16px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px;
}/*#beginUL_9*/

#beginUL_9:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginUL_9:after*/

#beginUL_9:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 557px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
}/*#beginUL_9:before*/

#beginLI_10, #beginLI_19, #beginLI_28, #beginLI_37 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 260px;
    left: 0px;
    min-height: 170px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    width: 1110px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 555px 130px;
    transform-origin: 555px 130px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    margin: 0px 0px 100px;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginLI_10, #beginLI_19, #beginLI_28, #beginLI_37*/

#beginLI_10:after, #beginLI_19:after, #beginLI_28:after, #beginLI_37:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(33, 37, 41);
    display: table;
    height: 0px;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginLI_10:after, #beginLI_19:after, #beginLI_28:after, #beginLI_37:after*/

#beginLI_10:before, #beginLI_19:before, #beginLI_28:before, #beginLI_37:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: table;
    height: 0px;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginLI_10:before, #beginLI_19:before, #beginLI_28:before, #beginLI_37:before*/

#beginDIV_11 {
    bottom: 90px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 170px;
    left: 555px;
    position: absolute;
    right: 470px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 170px;
    z-index: 100;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 85px 85px;
    transform-origin: 85px 85px;
    caret-color: rgb(255, 255, 255);
    background: rgb(55, 99, 235);
    border: 7px solid rgb(233, 236, 239);
    border-radius: 100% 100% 100% 100%;
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    margin: 0px 0px 0px -85px;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginDIV_11, #beginDIV_20, #beginDIV_29, #beginDIV_38*/


#beginDIV_20{
    bottom: 90px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 170px;
    left: 555px;
    position: absolute;
    right: 470px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 50px;
    width: 170px;
    z-index: 100;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 85px 85px;
    transform-origin: 85px 85px;
    caret-color: rgb(255, 255, 255);
    background: rgb(55, 99, 235);
    border: 7px solid rgb(233, 236, 239);
    border-radius: 100% 100% 100% 100%;
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    margin: 0px 0px 0px -85px;
    outline: rgb(255, 255, 255) none 0px;
}


#beginDIV_29{
    bottom: 90px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 170px;
    left: 555px;
    position: absolute;
    right: 470px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 50px;
    width: 170px;
    z-index: 100;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 85px 85px;
    transform-origin: 85px 85px;
    caret-color: rgb(255, 255, 255);
    background: rgb(55, 99, 235);
    border: 7px solid rgb(233, 236, 239);
    border-radius: 100% 100% 100% 100%;
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    margin: 0px 0px 0px -85px;
    outline: rgb(255, 255, 255) none 0px;
}


#beginDIV_38{
    bottom: 90px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 170px;
    left: 555px;
    position: absolute;
    right: 470px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 50px;
    width: 170px;
    z-index: 100;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 85px 85px;
    transform-origin: 85px 85px;
    caret-color: rgb(255, 255, 255);
    background: rgb(55, 99, 235);
    border: 7px solid rgb(233, 236, 239);
    border-radius: 100% 100% 100% 100%;
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    margin: 0px 0px 0px -85px;
    outline: rgb(255, 255, 255) none 0px;
}

#beginDIV_11:after, #beginDIV_20:after, #beginDIV_29:after, #beginDIV_38:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginDIV_11:after, #beginDIV_20:after, #beginDIV_29:after, #beginDIV_38:after*/

#beginDIV_11:before, #beginDIV_20:before, #beginDIV_29:before, #beginDIV_38:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginDIV_11:before, #beginDIV_20:before, #beginDIV_29:before, #beginDIV_38:before*/

#beginIMG_12, #beginIMG_21, #beginIMG_30, #beginIMG_39 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 156px;
    max-width: 100%;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 156px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 78px 78px;
    transform-origin: 78px 78px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginIMG_12, #beginIMG_21, #beginIMG_30, #beginIMG_39*/

#beginIMG_12:after, #beginIMG_21:after, #beginIMG_30:after, #beginIMG_39:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginIMG_12:after, #beginIMG_21:after, #beginIMG_30:after, #beginIMG_39:after*/

#beginIMG_12:before, #beginIMG_21:before, #beginIMG_30:before, #beginIMG_39:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginIMG_12:before, #beginIMG_21:before, #beginIMG_30:before, #beginIMG_39:before*/

#beginDIV_13, #beginDIV_31 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    float: left;
    height: 260px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    width: 455.094px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 227.547px 130px;
    transform-origin: 227.547px 130px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
    /* padding: 0px 20px 20px 100px; */
}/*#beginDIV_13, #beginDIV_31*/

#beginDIV_13:after, #beginDIV_31:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    left: -14px;
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_13:after, #beginDIV_31:after*/

#beginDIV_13:before, #beginDIV_31:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    left: -15px;
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_13:before, #beginDIV_31:before*/

#beginDIV_14, #beginDIV_32 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 35px;
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 335.094px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 167.547px 32px;
    transform-origin: 167.547px 32px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_14, #beginDIV_32*/

#beginDIV_14:after, #beginDIV_32:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_14:after, #beginDIV_32:after*/

#beginDIV_14:before, #beginDIV_32:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_14:before, #beginDIV_32:before*/

#beginH4_15, #beginH4_16, #beginH4_33 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 28px;
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 335.094px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 167.547px 14px;
    transform-origin: 167.547px 14px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_15, #beginH4_16, #beginH4_33*/

#beginH4_15:after, #beginH4_16:after, #beginH4_33:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_15:after, #beginH4_16:after, #beginH4_33:after*/

#beginH4_15:before, #beginH4_16:before, #beginH4_33:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_15:before, #beginH4_16:before, #beginH4_33:before*/

#beginDIV_17, #beginDIV_35 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    /* height: 168px; */
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    /* width: 335.094px; */
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 167.547px 84px;
    transform-origin: 167.547px 84px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_17, #beginDIV_35*/

#beginDIV_17:after, #beginDIV_35:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_17:after, #beginDIV_35:after*/

#beginDIV_17:before, #beginDIV_35:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_17:before, #beginDIV_35:before*/

#beginP_18, #beginP_36 {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    /* height: 168px; */
    text-align: right;
    text-decoration: none solid rgb(108, 117, 125);
    text-size-adjust: 100%;
    /* width: 335.094px; */
    column-rule-color: rgb(108, 117, 125);
    perspective-origin: 167.547px 84px;
    transform-origin: 167.547px 84px;
    caret-color: rgb(108, 117, 125);
    border: 0px none rgb(108, 117, 125);
    font: normal normal 400 normal 16px / 28px "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px;
    outline: rgb(108, 117, 125) none 0px;
}/*#beginP_18, #beginP_36*/

#beginP_18:after, #beginP_36:after {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    text-align: right;
    text-decoration: none solid rgb(108, 117, 125);
    text-size-adjust: 100%;
    column-rule-color: rgb(108, 117, 125);
    caret-color: rgb(108, 117, 125);
    border: 0px none rgb(108, 117, 125);
    font: normal normal 400 normal 16px / 28px "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(108, 117, 125) none 0px;
}/*#beginP_18:after, #beginP_36:after*/

#beginP_18:before, #beginP_36:before {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    text-align: right;
    text-decoration: none solid rgb(108, 117, 125);
    text-size-adjust: 100%;
    column-rule-color: rgb(108, 117, 125);
    caret-color: rgb(108, 117, 125);
    border: 0px none rgb(108, 117, 125);
    font: normal normal 400 normal 16px / 28px "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(108, 117, 125) none 0px;
}/*#beginP_18:before, #beginP_36:before*/

#beginDIV_22, #beginDIV_40 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    float: right;
    height: 260px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    width: 455.094px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 227.547px 130px;
    transform-origin: 227.547px 130px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
    /* padding: 0px 100px 20px 20px; */
}/*#beginDIV_22, #beginDIV_40*/

#beginDIV_22:after, #beginDIV_40:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    left: -14px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_22:after, #beginDIV_40:after*/

#beginDIV_22:before, #beginDIV_40:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    left: -15px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_22:before, #beginDIV_40:before*/

#beginDIV_23, #beginDIV_41 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 35px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 335.094px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 167.547px 32px;
    transform-origin: 167.547px 32px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_23, #beginDIV_41*/

#beginDIV_23:after, #beginDIV_41:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_23:after, #beginDIV_41:after*/

#beginDIV_23:before, #beginDIV_41:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_23:before, #beginDIV_41:before*/

#beginH4_24, #beginH4_25, #beginH4_42 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 28px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 335.094px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 167.547px 14px;
    transform-origin: 167.547px 14px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_24, #beginH4_25, #beginH4_42*/

#beginH4_24:after, #beginH4_25:after, #beginH4_42:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_24:after, #beginH4_25:after, #beginH4_42:after*/

#beginH4_24:before, #beginH4_25:before, #beginH4_42:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_24:before, #beginH4_25:before, #beginH4_42:before*/

#beginDIV_26, #beginDIV_44 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    /* height: 168px; */
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    /* width: 335.094px; */
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 167.547px 84px;
    transform-origin: 167.547px 84px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_26, #beginDIV_44*/

#beginDIV_26:after, #beginDIV_44:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_26:after, #beginDIV_44:after*/

#beginDIV_26:before, #beginDIV_44:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginDIV_26:before, #beginDIV_44:before*/

#beginP_27, #beginP_45 {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    /* height: 168px; */
    text-align: left;
    text-decoration: none solid rgb(108, 117, 125);
    text-size-adjust: 100%;
    /* width: 335.094px; */
    column-rule-color: rgb(108, 117, 125);
    perspective-origin: 167.547px 84px;
    transform-origin: 167.547px 84px;
    caret-color: rgb(108, 117, 125);
    border: 0px none rgb(108, 117, 125);
    font: normal normal 400 normal 16px / 28px "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px;
    outline: rgb(108, 117, 125) none 0px;
}/*#beginP_27, #beginP_45*/

#beginP_27:after, #beginP_45:after {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    text-align: left;
    text-decoration: none solid rgb(108, 117, 125);
    text-size-adjust: 100%;
    column-rule-color: rgb(108, 117, 125);
    caret-color: rgb(108, 117, 125);
    border: 0px none rgb(108, 117, 125);
    font: normal normal 400 normal 16px / 28px "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(108, 117, 125) none 0px;
}/*#beginP_27:after, #beginP_45:after*/

#beginP_27:before, #beginP_45:before {
    box-sizing: border-box;
    color: rgb(108, 117, 125);
    text-align: left;
    text-decoration: none solid rgb(108, 117, 125);
    text-size-adjust: 100%;
    column-rule-color: rgb(108, 117, 125);
    caret-color: rgb(108, 117, 125);
    border: 0px none rgb(108, 117, 125);
    font: normal normal 400 normal 16px / 28px "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(108, 117, 125) none 0px;
}/*#beginP_27:before, #beginP_45:before*/

#beginH4_34 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 28px;
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 335.094px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 167.547px 14px;
    transform-origin: 167.547px 14px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_34*/

#beginH4_34:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_34:after*/

#beginH4_34:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: right;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_34:before*/

#beginH4_43 {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 28px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 335.094px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 167.547px 14px;
    transform-origin: 167.547px 14px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_43*/

#beginH4_43:after {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_43:after*/

#beginH4_43:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font: normal normal 700 normal 24px / 28.8px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginH4_43:before*/

#beginLI_46 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    height: 170px;
    left: 0px;
    min-height: 170px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    width: 1110px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 555px 85px;
    transform-origin: 555px 85px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginLI_46*/

#beginLI_46:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(33, 37, 41);
    display: table;
    height: 0px;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginLI_46:after*/

#beginLI_46:before {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: table;
    height: 0px;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(33, 37, 41) none 0px;
}/*#beginLI_46:before*/

#beginDIV_47 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 170px;
    left: 555px;
    position: absolute;
    right: 470px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 170px;
    z-index: 100;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 85px 85px;
    transform-origin: 85px 85px;
    caret-color: rgb(255, 255, 255);
    background: rgb(55, 99, 235);
    border: 7px solid rgb(233, 236, 239);
    border-radius: 100% 100% 100% 100%;
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    margin: 0px 0px 0px -85px;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginDIV_47*/

#beginDIV_47:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginDIV_47:after*/

#beginDIV_47:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font-family: montserrat,sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginDIV_47:before*/

#beginH4_48 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 78px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 156px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 78px 39px;
    transform-origin: 78px 39px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 18px / 26px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 40px 0px 8px;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginH4_48*/

#beginH4_48:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 18px / 26px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginH4_48:after*/

#beginH4_48:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 18px / 26px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginH4_48:before*/

#beginBR_49, #beginBR_50 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 18px / 26px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginBR_49, #beginBR_50*/

#beginBR_49:after, #beginBR_50:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 18px / 26px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginBR_49:after, #beginBR_50:after*/

#beginBR_49:before, #beginBR_50:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 18px / 26px Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#beginBR_49:before, #beginBR_50:before*/



.begin-icon{
    font-size: 70px;
    padding-top: 30px;
}