{%load static%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section id="about">
    <div class="container">
        
        <header class="section-header">
            
        </header>

        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                    <h3 id='about-us-header'>About Us</h3>
                <p>
                        We are a premier Consulting firm offering professional services 
                        in areas of  Corporate Law, Business Restructuring, Compliances, 
                        Accounting, Audit, Taxation Business Process Outsourcing services 
                        to corporate firms and individuals  and all other  business entities.
                </p>

                <div class="icon-box wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon hvr-float-shadow"><i class="fa fa-briefcase"></i></div>
                    <h4 class="title about-h4"><a href="">Offices</a></h4>
                    <p class="description">We have three offices in Mumbai at Bombay Central, Goregaon and Mira Road. </p>
                </div>

                <div class="icon-box wow fadeInUp " data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="icon hvr-float-shadow "><i class="fa fa-users"></i></div>
                    <h4 class="title about-h4"><a href="">Specialist Teams</a></h4>
                    <p class="description">We have specialist teams of professional Accountants, 
                        Advocates, Company Secretaries, System Consultants and Management Consultants 
                        offering a wide array of services to our clients across the length and breadth of  the country.</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="icon hvr-float-shadow"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title about-h4"><a href="">High Quality Solutions</a></h4>
                    <p class="description">Our Associates and staff are committed to providing, high quality, 
                        innovative and practical solutions to all kinds of  business requirements.</p>
                </div>

            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp"
                style="visibility: visible; animation-name: fadeInUp;">
                <img src="{% static "about-us/about-img.svg" %}" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row about-extra">
            <div id= "whyzflc" class="col-lg-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <img src="{% static "about-us/about-extra-1.svg" %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" style="visibility: visible; animation-name: fadeInUp;">
                    <h3 id='about-us-header'>Why ZFLC</h3>
                <p class="about-p">
                        At ZFLC we strongly believe in establishing long term relationship with the clients.
                         Starting right from the introductory meetings we endeavour to make you feel the
                          difference in the quality of service that you can expect and shall receive at ZFLC. 
                          To us every client is equally important and when they repose their trust in us, 
                          it becomes our bounden duty to serve them with utmost care and the highest level of 
                          professional competence. 
                </p>
                <p class="about-p">
                        Our team is like a family. You will find every member of the team at ZFLC to be 
                        friendly, professional and fully committed to delivering the best service. 
                        You would find that each team leader at ZFLC would serve you not as an employee 
                        of the firm but as an independent professional who is personally responsible and 
                        has keen interest in the success of the assignment under their care. Clients have 
                        experienced the feeling of being served personally by a senior member as if they had
                         engaged the exclusive service of a small consultancy or Accountancy firm and yet they 
                         have the advantage of drawing upon the experience and skills of our  Associates each 
                         of whom is a master professional in their individual fields.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- <section id="valuesSECTION_1">
        
        <div id="valuesDIV_3">
            <div id="valuesDIV_4">
                        <div id="valuesDIV_7">
                                        <div id="valuesDIV_11">
                                            
                                            <h2 id="valuesH2_13">
                                                    Our Values and our Methods
                                            </h2>
                                        </div>
                            <div id="valuesDIV_14">
                                    <div id="valuesDIV_16">
                                            Building trust and relationship is paramount in all our actions. 
                                            We firmly believe that integrity has no substitute. Excellence is our continuing goal.  
                                    </div>
                            </div>
                            <div id="valuesDIV_14">
                                    <div id="valuesDIV_16">
                                            We are committed to quality and we travel the extra mile to achieve it. 
                                            Every assignment at ZFLC is under the direct charge of an Associate 
                                            who takes the responsibility for its deliverables. The concerned 
                                            Associate acts as the guide, supervisor and Project Manager to the engagement team. 
                                            Every member of the engagement team is encouraged to be innovative and research oriented. 
                                            Every team member is a professional in his /her rights. 
                                            Each process of an assignment is subjected to critical evaluation with a fault 
                                            finding objective to ensure that the client deliverables are top notch, 
                                            error free and in line with our quality goals.
                                            <br>
                                            <br>    

                                            At ZFLC we strongly encourage each team member to be relentless in pursuit of knowledge. 
                                                The expertise, experience and knowledge of our team members is constantly shared to form a 
                                                common knowledge pool which is an invaluable intangible asset. Drawing answers from this common 
                                                pool we provide solutions to the client
                                    </div>
                            </div>
                            <div id="valuesDIV_17">
                                <div id="valuesDIV_18">
                                    <div id="valuesDIV_19">
                                    
                                        
                                    </div>
                                </div>
                            </div>
                            <section id="valuesSECTION_21">
                                <div id="valuesDIV_22">
                                    <div id="valuesDIV_23">
                                        <div id="valuesDIV_24">
                                            <div id="valuesDIV_25">
                                                <div id="valuesDIV_26">
                                                    <div id="valuesDIV_27">
                                                        <div id="valuesDIV_28">
                                                            <div id="valuesDIV_29">
                                                                <div id="valuesDIV_30">
                                                                     <a href="#" rel="nofollow" id="valuesA_31">Work with us</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="valuesDIV_32">
                                            <div id="valuesDIV_33">
                                                <div id="valuesDIV_34">
                                                    <div id="valuesDIV_35">
                                                        <div id="valuesDIV_36">
                                                            <div id="valuesDIV_37">
                                                                <div id="valuesDIV_38">
                                                                     <a href="#" rel="nofollow" id="valuesA_39">learn More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div id="valuesDIV_42">
                            <section id="valuesSECTION_43">
                                <div id="valuesDIV_44">
                                    <div id="valuesDIV_45">
                                        <div id="valuesDIV_46">
                                            <div id="valuesDIV_47">
                                                <div id="valuesDIV_48">
                                                    <div id="valuesDIV_49">
                                                        <div id="valuesDIV_50">
                                                            <div id="valuesDIV_51">
                                                                <div id="valuesDIV_52">
                                                                    <div id="valuesDIV_53">
                                                                        <div id="valuesDIV_54">
                                                                            
                                                                                <div class="val-icon hvr-float-shadow"><i class="fa fa-heart"></i></div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="valuesDIV_56">
                                                                        <h3 id="valuesH3_57">
                                                                                Trust and Relationship
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="valuesDIV_58">
                                            <div id="valuesDIV_59">
                                                <div id="valuesDIV_60">
                                                    <div id="valuesDIV_61">
                                                        <div id="valuesDIV_62">
                                                            <div id="valuesDIV_63">
                                                                <div id="valuesDIV_64">
                                                                    <div id="valuesDIV_65">
                                                                        <div id="valuesDIV_66">
                                                                                <div class="val-icon hvr-float-shadow"><i class="fa fa-user-plus"></i></div>

                                                                        </div>
                                                                    </div>
                                                                    <div id="valuesDIV_68">
                                                                        <h3 id="valuesH3_69">
                                                                                Integrity
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="valuesSECTION_43">
                                    <div id="valuesDIV_44">
                                        <div id="valuesDIV_45">
                                            <div id="valuesDIV_46">
                                                <div id="valuesDIV_47">
                                                    <div id="valuesDIV_48">
                                                        <div id="valuesDIV_49">
                                                            <div id="valuesDIV_50">
                                                                <div id="valuesDIV_51">
                                                                    <div id="valuesDIV_52">
                                                                        <div id="valuesDIV_53">
                                                                            <div id="valuesDIV_54">
                                                                                    <div class="val-icon hvr-float-shadow"><i class="fa fa-check-square"></i></div>

                                                                            </div>
                                                                        </div>
                                                                        <div id="valuesDIV_56">
                                                                            <h3 id="valuesH3_57">
                                                                                    Excellence is our continuing goal
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="valuesDIV_58">
                                                <div id="valuesDIV_59">
                                                    <div id="valuesDIV_60">
                                                        <div id="valuesDIV_61">
                                                            <div id="valuesDIV_62">
                                                                <div id="valuesDIV_63">
                                                                    <div id="valuesDIV_64">
                                                                        <div id="valuesDIV_65">
                                                                            <div id="valuesDIV_66">
                                                                                    <div class="val-icon hvr-float-shadow"><i class="fa fa-clipboard"></i></div>

                                                                            </div>
                                                                        </div>
                                                                        <div id="valuesDIV_68">
                                                                            <h3 id="valuesH3_69">
                                                                                    Critical Evaluation
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section id="valuesSECTION_43">
                                        <div id="valuesDIV_44">
                                            <div id="valuesDIV_45">
                                                <div id="valuesDIV_46">
                                                    <div id="valuesDIV_47">
                                                        <div id="valuesDIV_48">
                                                            <div id="valuesDIV_49">
                                                                <div id="valuesDIV_50">
                                                                    <div id="valuesDIV_51">
                                                                        <div id="valuesDIV_52">
                                                                            <div id="valuesDIV_53">
                                                                                <div id="valuesDIV_54">
                                                                                        <div class="val-icon hvr-float-shadow"><i class="fa fa-edit"></i></div>

                                                                                </div>
                                                                            </div>
                                                                            <div id="valuesDIV_56">
                                                                                <h3 id="valuesH3_57">
                                                                                        Commited to quality
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="valuesDIV_58">
                                                    <div id="valuesDIV_59">
                                                        <div id="valuesDIV_60">
                                                            <div id="valuesDIV_61">
                                                                <div id="valuesDIV_62">
                                                                    <div id="valuesDIV_63">
                                                                        <div id="valuesDIV_64">
                                                                            <div id="valuesDIV_65">
                                                                                <div id="valuesDIV_66">
                                                                                        <div class="val-icon hvr-float-shadow"><i class="fa fa-folder-open"></i></div>

                                                                                </div>
                                                                            </div>
                                                                            <div id="valuesDIV_68">
                                                                                <h3 id="valuesH3_69">
                                                                                        Innovative &amp; research oriented
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section> -->
                        </div>  
            </div>
        </div>
    </section>

   