{%load static%}

<section id="about">
    <div class="container">

        <header class="section-header">
            <h3 id='about-us-header'>About Us</h3>
        </header>

        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>

                <div class="icon-box wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title about-h4"><a href="">Eiusmod Tempor</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
                        cum soluta nobis est eligendi</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="icon"><i class="fa fa-photo"></i></div>
                    <h4 class="title about-h4"><a href="">Magni Dolores</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title about-h4"><a href="">Dolor Sitema</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat tarad limino ata</p>
                </div>

            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp"
                style="visibility: visible; animation-name: fadeInUp;">
                <img src="{% static "about-us/about-img.svg" %}" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <img src="{% static "about-us/about-extra-1.svg" %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" style="visibility: visible; animation-name: fadeInUp;">
                <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
                <p class="about-p">
                    Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae
                    perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia
                    recusandae non ad at et a.
                </p>
                <p class="about-p">
                    Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis
                    deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro
                    rerum eum eum.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="valuesSECTION_1">
        <div id="valuesDIV_2">
        </div>
        <div id="valuesDIV_3">
            <div id="valuesDIV_4">
                <div id="valuesDIV_5">
                    <div id="valuesDIV_6">
                        <div id="valuesDIV_7">
                            <div id="valuesDIV_8">
                                <div id="valuesDIV_9">
                                    <div id="valuesDIV_10">
                                        <div id="valuesDIV_11">
                                            <h3 id="valuesH3_12">
                                                CORE VALUES
                                            </h3>
                                            <h2 id="valuesH2_13">
                                                Services we serve to all over the world
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="valuesDIV_14">
                                <div id="valuesDIV_15">
                                    <div id="valuesDIV_16">
                                        From banking and insurance to wealth management and on securities distribution, we dedicated financial services them the teams serve all major sectors. of the industry.
                                    </div>
                                </div>
                            </div>
                            <div id="valuesDIV_17">
                                <div id="valuesDIV_18">
                                    <div id="valuesDIV_19">
                                        <p id="valuesP_20">
                                            Our work draws on more than 40 years of experience. They delivered by 5,700 professionals in the world’s most. important financial centers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <section id="valuesSECTION_21">
                                <div id="valuesDIV_22">
                                    <div id="valuesDIV_23">
                                        <div id="valuesDIV_24">
                                            <div id="valuesDIV_25">
                                                <div id="valuesDIV_26">
                                                    <div id="valuesDIV_27">
                                                        <div id="valuesDIV_28">
                                                            <div id="valuesDIV_29">
                                                                <div id="valuesDIV_30">
                                                                     <a href="#" rel="nofollow" id="valuesA_31">Work with us</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="valuesDIV_32">
                                            <div id="valuesDIV_33">
                                                <div id="valuesDIV_34">
                                                    <div id="valuesDIV_35">
                                                        <div id="valuesDIV_36">
                                                            <div id="valuesDIV_37">
                                                                <div id="valuesDIV_38">
                                                                     <a href="#" rel="nofollow" id="valuesA_39">learn More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div id="valuesDIV_40">
                    <div id="valuesDIV_41">
                        <div id="valuesDIV_42">
                            <section id="valuesSECTION_43">
                                <div id="valuesDIV_44">
                                    <div id="valuesDIV_45">
                                        <div id="valuesDIV_46">
                                            <div id="valuesDIV_47">
                                                <div id="valuesDIV_48">
                                                    <div id="valuesDIV_49">
                                                        <div id="valuesDIV_50">
                                                            <div id="valuesDIV_51">
                                                                <div id="valuesDIV_52">
                                                                    <div id="valuesDIV_53">
                                                                        <div id="valuesDIV_54">
                                                                            <img src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-1-1.png" alt="Saving and Strategy" id="valuesIMG_55" />
                                                                        </div>
                                                                    </div>
                                                                    <div id="valuesDIV_56">
                                                                        <h3 id="valuesH3_57">
                                                                            Saving and Strategy
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="valuesDIV_58">
                                            <div id="valuesDIV_59">
                                                <div id="valuesDIV_60">
                                                    <div id="valuesDIV_61">
                                                        <div id="valuesDIV_62">
                                                            <div id="valuesDIV_63">
                                                                <div id="valuesDIV_64">
                                                                    <div id="valuesDIV_65">
                                                                        <div id="valuesDIV_66">
                                                                            <img src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-2-1.png" alt="Life &amp; Health Insurance" id="valuesIMG_67" />
                                                                        </div>
                                                                    </div>
                                                                    <div id="valuesDIV_68">
                                                                        <h3 id="valuesH3_69">
                                                                            Life &amp; Health Insurance
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="valuesDIV_70">
                                            <div id="valuesDIV_71">
                                                <div id="valuesDIV_72">
                                                    <div id="valuesDIV_73">
                                                        <div id="valuesDIV_74">
                                                            <div id="valuesDIV_75">
                                                                <div id="valuesDIV_76">
                                                                    <div id="valuesDIV_77">
                                                                        <div id="valuesDIV_78">
                                                                            <img src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-3-1.png" alt="Banking and Financial" id="valuesIMG_79" />
                                                                        </div>
                                                                    </div>
                                                                    <div id="valuesDIV_80">
                                                                        <h3 id="valuesH3_81">
                                                                            Banking and Financial
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="valuesSECTION_82">
                                <div id="valuesDIV_83">
                                    <div id="valuesDIV_84">
                                        <div id="valuesDIV_85">
                                            <div id="valuesDIV_86">
                                                <div id="valuesDIV_87">
                                                    <div id="valuesDIV_88">
                                                        <div id="valuesDIV_89">
                                                            <div id="valuesDIV_90">
                                                                <div id="valuesDIV_91">
                                                                    <div id="valuesDIV_92">
                                                                        <div id="valuesDIV_93">
                                                                            <img src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-4-1.png" alt="Retirement Planning" id="valuesIMG_94" />
                                                                        </div>
                                                                    </div>
                                                                    <div id="valuesDIV_95">
                                                                        <h3 id="valuesH3_96">
                                                                            Retirement Planning
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="valuesDIV_97">
                                            <div id="valuesDIV_98">
                                                <div id="valuesDIV_99">
                                                    <div id="valuesDIV_100">
                                                        <div id="valuesDIV_101">
                                                            <div id="valuesDIV_102">
                                                                <div id="valuesDIV_103">
                                                                    <div id="valuesDIV_104">
                                                                        <div id="valuesDIV_105">
                                                                            <img src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-5-1.png" alt="Home and Business Loan" id="valuesIMG_106" />
                                                                        </div>
                                                                    </div>
                                                                    <div id="valuesDIV_107">
                                                                        <h3 id="valuesH3_108">
                                                                            Home and Business Loan
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="valuesDIV_109">
                                            <div id="valuesDIV_110">
                                                <div id="valuesDIV_111">
                                                    <div id="valuesDIV_112">
                                                        <div id="valuesDIV_113">
                                                            <div id="valuesDIV_114">
                                                                <div id="valuesDIV_115">
                                                                    <div id="valuesDIV_116">
                                                                        <div id="valuesDIV_117">
                                                                            <img src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-6-1.png" alt="Business Consultation" id="valuesIMG_118" />
                                                                        </div>
                                                                    </div>
                                                                    <div id="valuesDIV_119">
                                                                        <h3 id="valuesH3_120">
                                                                            Business Consultation
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>