{%load static%}

<section id="about">
    <div class="container">

        <header class="section-header">
            <h3 id='about-us-header'>About Us</h3>
        </header>

        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>

                <div class="icon-box wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title about-h4"><a href="">Eiusmod Tempor</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
                        cum soluta nobis est eligendi</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="icon"><i class="fa fa-photo"></i></div>
                    <h4 class="title about-h4"><a href="">Magni Dolores</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title about-h4"><a href="">Dolor Sitema</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat tarad limino ata</p>
                </div>

            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp"
                style="visibility: visible; animation-name: fadeInUp;">
                <img src="{% static "about-us/about-img.svg" %}" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <img src="{% static "about-us/about-extra-1.svg" %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" style="visibility: visible; animation-name: fadeInUp;">
                <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
                <p class="about-p">
                    Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae
                    perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia
                    recusandae non ad at et a.
                </p>
                <p class="about-p">
                    Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis
                    deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro
                    rerum eum eum.
                </p>
            </div>
        </div>


        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
                <div class="elementor-element elementor-element-57b0 elementor-column elementor-col-50 elementor-top-column"
                    data-id="57b0" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                            <div class="elementor-element elementor-element-6d98 elementor-widget elementor-widget-elementskit-heading"
                                data-id="6d98" data-element_type="widget"
                                data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                data-widget_type="elementskit-heading.default">
                                <div class="elementor-widget-container">
                                    <div class="ekit-wid-con">
                                        <div
                                            class="elementskit-section-title-wraper text_left ekit_heading_tablet- ekit_heading_mobile-">
                                            <h3 class="elementskit-section-subtitle ">CORE VALUES</h3>
                                            <h2 class="elementskit-section-title "> Services we serve to all over the
                                                world</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-29f1 elementor-widget elementor-widget-text-editor"
                                data-id="29f1" data-element_type="widget"
                                data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-text-editor elementor-clearfix">
                                        From banking and insurance to wealth management and on securities distribution,
                                        we dedicated financial services them the teams serve all major sectors. of the
                                        industry.
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-79d6 elementor-widget elementor-widget-text-editor"
                                data-id="79d6" data-element_type="widget"
                                data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-text-editor elementor-clearfix">
                                        <p>
                                            Our work draws on more than 40 years of experience. They delivered by 5,700
                                            professionals in the world’s most. important financial centers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <section
                                class="elementor-element elementor-element-4ef3 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section elementskit-parallax-multi-container"
                                data-id="4ef3" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-4b44 elementor-column elementor-col-50 elementor-inner-column"
                                            data-id="4b44" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-4457 elementor-widget elementor-widget-elementskit-button"
                                                        data-id="4457" data-element_type="widget"
                                                        data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                                        data-widget_type="elementskit-button.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="ekit-wid-con">
                                                                <div class="ekit-btn-wraper"> <a href="#"
                                                                        target="_blank" rel="nofollow"
                                                                        class="elementskit-btn home-two"> Work with us
                                                                    </a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5d62 elementor-column elementor-col-50 elementor-inner-column"
                                            data-id="5d62" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-742d elementor-widget elementor-widget-elementskit-button"
                                                        data-id="742d" data-element_type="widget"
                                                        data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                                        data-widget_type="elementskit-button.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="ekit-wid-con">
                                                                <div class="ekit-btn-wraper"> <a href="#"
                                                                        target="_blank" rel="nofollow"
                                                                        class="elementskit-btn "> learn More </a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-5ae3 elementor-column elementor-col-50 elementor-top-column"
                    data-id="5ae3" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                            <section
                                class="elementor-element elementor-element-296b elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section elementskit-parallax-multi-container"
                                data-id="296b" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-6dae elementor-column elementor-col-33 elementor-inner-column"
                                            data-id="6dae" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-2629 services_icon_animation elementor-widget elementor-widget-elementskit-icon-box animated fadeInUp"
                                                        data-id="2629" data-element_type="widget"
                                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                                        data-widget_type="elementskit-icon-box.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="ekit-wid-con">
                                                                <div
                                                                    class="elementskit-infobox text-center icon-top-align elementor-animation- ">
                                                                    <div class="elementskit-box-header">
                                                                        <div class="elementskit-info-box-icon "> <img
                                                                                src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-1-1.png"
                                                                                alt="Saving and Strategy"></div>
                                                                    </div>
                                                                    <div class="box-body">
                                                                        <h3 class="elementskit-info-box-title"> Saving
                                                                            and Strategy</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3edc elementor-column elementor-col-33 elementor-inner-column"
                                            data-id="3edc" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-674f services_icon_animation elementor-widget elementor-widget-elementskit-icon-box animated fadeInUp"
                                                        data-id="674f" data-element_type="widget"
                                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:100,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                                        data-widget_type="elementskit-icon-box.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="ekit-wid-con">
                                                                <div
                                                                    class="elementskit-infobox text-center icon-top-align elementor-animation- ">
                                                                    <div class="elementskit-box-header">
                                                                        <div class="elementskit-info-box-icon "> <img
                                                                                src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-2-1.png"
                                                                                alt="Life &amp; Health Insurance"></div>
                                                                    </div>
                                                                    <div class="box-body">
                                                                        <h3 class="elementskit-info-box-title"> Life
                                                                            &amp; Health Insurance</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-36ba elementor-column elementor-col-33 elementor-inner-column"
                                            data-id="36ba" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-7be5 services_icon_animation elementor-widget elementor-widget-elementskit-icon-box animated fadeInUp"
                                                        data-id="7be5" data-element_type="widget"
                                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                                        data-widget_type="elementskit-icon-box.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="ekit-wid-con">
                                                                <div
                                                                    class="elementskit-infobox text-center icon-top-align elementor-animation- ">
                                                                    <div class="elementskit-box-header">
                                                                        <div class="elementskit-info-box-icon "> <img
                                                                                src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-3-1.png"
                                                                                alt="Banking and Financial"></div>
                                                                    </div>
                                                                    <div class="box-body">
                                                                        <h3 class="elementskit-info-box-title"> Banking
                                                                            and Financial</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-element elementor-element-6312 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section elementskit-parallax-multi-container"
                                data-id="6312" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-7161 elementor-column elementor-col-33 elementor-inner-column"
                                            data-id="7161" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-6cc8 services_icon_animation elementor-widget elementor-widget-elementskit-icon-box animated fadeInUp"
                                                        data-id="6cc8" data-element_type="widget"
                                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:150,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                                        data-widget_type="elementskit-icon-box.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="ekit-wid-con">
                                                                <div
                                                                    class="elementskit-infobox text-center icon-top-align elementor-animation- ">
                                                                    <div class="elementskit-box-header">
                                                                        <div class="elementskit-info-box-icon "> <img
                                                                                src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-4-1.png"
                                                                                alt="Retirement Planning"></div>
                                                                    </div>
                                                                    <div class="box-body">
                                                                        <h3 class="elementskit-info-box-title">
                                                                            Retirement Planning</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-7147 elementor-column elementor-col-33 elementor-inner-column"
                                            data-id="7147" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-486 services_icon_animation elementor-widget elementor-widget-elementskit-icon-box animated fadeInUp"
                                                        data-id="486" data-element_type="widget"
                                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                                        data-widget_type="elementskit-icon-box.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="ekit-wid-con">
                                                                <div
                                                                    class="elementskit-infobox text-center icon-top-align elementor-animation- ">
                                                                    <div class="elementskit-box-header">
                                                                        <div class="elementskit-info-box-icon "> <img
                                                                                src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-5-1.png"
                                                                                alt="Home and Business Loan"></div>
                                                                    </div>
                                                                    <div class="box-body">
                                                                        <h3 class="elementskit-info-box-title"> Home and
                                                                            Business Loan</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-429d elementor-column elementor-col-33 elementor-inner-column"
                                            data-id="429d" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-d74 services_icon_animation elementor-widget elementor-widget-elementskit-icon-box animated fadeInUp"
                                                        data-id="d74" data-element_type="widget"
                                                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:250,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                                        data-widget_type="elementskit-icon-box.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="ekit-wid-con">
                                                                <div
                                                                    class="elementskit-infobox text-center icon-top-align elementor-animation- ">
                                                                    <div class="elementskit-box-header">
                                                                        <div class="elementskit-info-box-icon "> <img
                                                                                src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/07/icon-6-1.png"
                                                                                alt="Business Consultation"></div>
                                                                    </div>
                                                                    <div class="box-body">
                                                                        <h3 class="elementskit-info-box-title"> Business
                                                                            Consultation</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>