<section id="beginSECTION_1">
	<div id="beginDIV_2">
		<div id="beginDIV_3">
			<div id="beginDIV_4">
				<h2 id="beginH2_5">
					About
				</h2>
				<h3 id="beginH3_6">
					Lorem ipsum dolor sit amet consectetur.
				</h3>
			</div>
		</div>
		<div id="beginDIV_7">
			<div id="beginDIV_8">
				<ul id="beginUL_9">
					<li id="beginLI_10">
						<div id="beginDIV_11">
							<img src="img/about/1.jpg" alt="" id="beginIMG_12" />
						</div>
						<div id="beginDIV_13">
							<div id="beginDIV_14">
								<h4 id="beginH4_15">
									2009-2011
								</h4>
								<h4 id="beginH4_16">
									Our Humble Beginnings
								</h4>
							</div>
							<div id="beginDIV_17">
								<p id="beginP_18">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
								</p>
							</div>
						</div>
					</li>
					<li id="beginLI_19">
						<div id="beginDIV_20">
							<img src="img/about/2.jpg" alt="" id="beginIMG_21" />
						</div>
						<div id="beginDIV_22">
							<div id="beginDIV_23">
								<h4 id="beginH4_24">
									March 2011
								</h4>
								<h4 id="beginH4_25">
									An Agency is Born
								</h4>
							</div>
							<div id="beginDIV_26">
								<p id="beginP_27">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
								</p>
							</div>
						</div>
					</li>
					<li id="beginLI_28">
						<div id="beginDIV_29">
							<img src="img/about/3.jpg" alt="" id="beginIMG_30" />
						</div>
						<div id="beginDIV_31">
							<div id="beginDIV_32">
								<h4 id="beginH4_33">
									December 2012
								</h4>
								<h4 id="beginH4_34">
									Transition to Full Service
								</h4>
							</div>
							<div id="beginDIV_35">
								<p id="beginP_36">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
								</p>
							</div>
						</div>
					</li>
					<li id="beginLI_37">
						<div id="beginDIV_38">
							<img src="img/about/4.jpg" alt="" id="beginIMG_39" />
						</div>
						<div id="beginDIV_40">
							<div id="beginDIV_41">
								<h4 id="beginH4_42">
									July 2014
								</h4>
								<h4 id="beginH4_43">
									Phase Two Expansion
								</h4>
							</div>
							<div id="beginDIV_44">
								<p id="beginP_45">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
								</p>
							</div>
						</div>
					</li>
					<li id="beginLI_46">
						<div id="beginDIV_47">
							<h4 id="beginH4_48">
								Be Part<br id="beginBR_49" />Of Our<br id="beginBR_50" />Story!
							</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>