<section id="beginSECTION_1">
	<div id="beginDIV_2">
		
			<div id="beginDIV_4">
				<h2 id="beginH2_5">
					Beginnings
				</h2>
			</div>
		
		<div id="beginDIV_7">
			<div id="beginDIV_8">
				<ul id="beginUL_9">
					<li id="beginLI_10">
						<div id="beginDIV_11">
							<div class="begin-icon hvr-float-shadow"><i class="fa fa-play" style="padding-left: 20px;"></i></div>
						</div>
						<div id="beginDIV_13">
							<div id="beginDIV_14">
							
								<h4 id="beginH4_16">
									Our Humble Beginnings
								</h4>
							</div>
							<div id="beginDIV_17">
								<p id="beginP_18">
									Tasnim  is  the founder of Zaad Financial and Legal  Consultants. She is an Associate member of the Institute of Chartered Accountants of India. She holds a Degree in Law  as also Cost Accountancy. She is in the field of Finance, Banking and Information Technology for more than 25 years of which ten years have been spent in the service of Public Sector Banks.
								</p>
							</div>
						</div>
					</li>
					<li id="beginLI_19">
						<div id="beginDIV_20">
							<div class="begin-icon hvr-float-shadow"><i class="fa fa-road"></i></div>

						</div>
						<div id="beginDIV_22">
							<div id="beginDIV_23">
								<h4 id="beginH4_25">
									Journey
								</h4>
							</div>
							<div id="beginDIV_26">
								<p id="beginP_27">
									She started her journey in the BFSI sector immediately after qualifying and was involved in Merchant Banking and Financial services. Thereafter, She slowly graduated to Banking. She was associated with Public Sector Banks like Vijaya  Bank, Oriental Bank of Commerce, Bank of India for a decade.  During her tenure with Vijay  Bank, she was responsible for  Branch Operations, Centralised  Balance sheet preparation, Audit, Retail advances, Export financing  and Commercial loans. 
									</p>
							</div>
						</div>
					</li>
					<li id="beginLI_28">
						<div id="beginDIV_29">
							<div class="begin-icon hvr-float-shadow"><i class="fa fa-money"></i></div>

						</div>
						<div id="beginDIV_31">
							<div id="beginDIV_32">
								<h4 id="beginH4_34">
									Exposure
								</h4>
							</div>
							<div id="beginDIV_35">
								<p id="beginP_36">
									She managed the  Domestic Treasury Desk at Oriental Bank, with responsibilities for Mid- office and Back office.  While at Bank of India, She was well exposed to the various facets of credit like, Credit Appraisal, Evaluation and  Monitoring and Treasury Operations. She was instrumental in setting up the first MSME cell of the Bank. After a decade long career in Banking, she developed an interest in making Information Technology to work for electronic banking and digitising the processes and banking procedures.
								</p>
							</div>
						</div>
					</li>
					<li id="beginLI_37">
						<div id="beginDIV_38">
							<div class="begin-icon hvr-float-shadow"><i class="fa fa-arrows-alt"></i></div>
							
						</div>
						<div id="beginDIV_40">
							<div id="beginDIV_41">
								<h4 id="beginH4_43">
									Expansion
								</h4>
							</div>
							<div id="beginDIV_44">
								<p id="beginP_45">
									During her decade long tenure at IDBI Intech, she has managed a range of Portfolios providing functional consultancy in the areas of Risk, Advances, NPA, Payment systems, Net-banking and alternate channels to ensure regulatory compliance and customer convenience. She also trains IT professionals as well as Bankers in the area of General Banking, Financial analysis and Credit appraisal. She has also handled the Risk Management Portfolio (Basel Requirements) of the Bank.  
								</p>
							</div>
						</div>
					</li>
					<li id="beginLI_46">
						<div id="beginDIV_47">
							<h4 id="beginH4_48">
								Be Part<br id="beginBR_49" />Of Our<br id="beginBR_50" />Story!
							</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>