<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-contact100">
         <div class="column colspan-all text-center"> 
            <h2 class="display-none--mobile">Have a question for us?</h2> 
            <h1 class="display-none--desktop display-none--tablet">General inquiries</h1> 
        </div> 

    <div class="wrap-contact100">
        <div class="column colspan-all text-center">
        <form id="contact_form" class="contact100-form validate-form" method="POST">
                {% csrf_token %}
            {% for field in form %}
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">{{ field.label }}:</span>
                    {{ field }}
                <span class="focus-input100"></span>
            </div>
            <div id="oo" class=" text-danger text-left" >
                {{ field.errors }}
            </div>
            {% endfor %}
            
            
            <div class="container-contact100-form-btn">
                
                
                <button type="submit" class="contact100-form-btn">
                    <span>
                        Submit
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
                
            </div>
        </form>
    </div>
    </div>
</div>

<script>
    {% if form.errors %}
        document.getElementById("id_name").focus();
    {% endif %}
</script>