

    <footer class="footer" style="padding-bottom: 90px;background: #efededa3 !important;">
    <nav class="footer__nav shuffle shuffled">
        <section class="footer__col footer__col--intro background--active">
            <div class="footer__col-wrap">
                <h4 class="footer__col-title" style="color: #1c1d1e;">ZAAD</h4>
                
                <p class="footer__slogan" style="font-size: 20px; width:257px; color: #23232c !important;">
                    At our offices you can  rest assured of having access to the best solutions for your businesses.
                </p>
            </div>
        </section>
        
        <section class="footer__col" style="padding-right: 10px;color: #23232c !important;">
            <div class="footer__col-wrap">
                <h4 class="footer__col-title" style="color: #1c1d1e;">Our Offices</h4>

                <div class="footer__address" style="font-size: 17px;color: #23232c !important;">
                    <span class="footer__address-row">Mira Road: S -008, Dreamland Co-op Society, Mira Road (E),</span>
                    <span class="footer__address-row">Goregaon: 605-606, Topiwala Centre, Goregaon (West).</span>
                    <span class="footer__address-row">Mumbai Central</span>
                </div>

            </div>
        </section>



        <section class="footer__col" style="padding-right: 10px;color: #23232c !important;">
            <div class="footer__col-wrap">
                <h4 class="footer__col-title" style="color: #1c1d1e;">Contact us :</h4>

                <div class="footer__address" style="font-size: 17px;color: #23232c !important;">
                    <span class="footer__address-row">Our offices are easily accessible, but should you so desire, you may contact us over phone or emails. Alternatively, we can travel to meet you in the location of your choice.</span>
                    <br><span class="footer__address-row">
                        This portal provides general information about  ZFLC its  people and its service offerings. Should you desire any further information or wish to provide us with your feedback, please feel free to write to us at  catasnimbano@gmail.com
                        </span><br>
                    <span class="footer__address-row">In case you wish to speak to any of our Associates, Please call on 9930380299 </span>
                </div>

            </div>
        </section>

      
        <section class="footer__col footer__col--next " style="width: 145px;color: #23232c !important;">
            <a href="" class="footer__btn" data-footer-link="3">
                <span style="color: #23232c !important;">Scroll Up</span>

                <div class="footer__btn-line">
                    <div class="footer__btn-line-inner"></div>
                </div>
            </a>
        </section>

        <small class="footer__legal" style="color: #23232c !important;">© 2019 Zaad. All Rights Reserved.</small>
    </nav>
  </footer>

  





<!-- Mirrored from www.weareenvoy.com/about by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Dec 2019 12:58:33 GMT -->

