{% load static %}

<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
    
    <div class="navcontainer">
       <a href="/" id="w-node-9057e341e9fa-e341e9f8" aria-current="page" class="brand w-nav-brand w--current" aria-label="home">
       <img src="{% static 'navbar/CA_logo.jpg' %}" width="149" sizes="(max-width: 479px) 18vw, (max-width: 767px) 19vw, 149px" alt="" class="logo"></a>
       <div id="w-node-9057e341ea16-e341e9f8" class="nav_menubutton w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
          <div class="w-icon-nav-menu"></div>
       </div>
       <nav role="navigation" id="w-node-9057e341e9fc-e341e9f8" class="nav_menu w-nav-menu" style="transform: translateY(0px) translateX(0px);">
          <div class="w-layout-grid grid-22">
             <div id="w-node-9057e341e9fd-e341e9f8" class="navblock">
                <div class="nav_linkcontainer cc-stologo">
                   <a href="https://www.stopanel.com/" target="_blank" class="link-block-3 w-inline-block">
                      <div class="img_stopanellogo"></div>
                   </a>
                </div>
             </div>
             <div id="w-node-52f9556ed374-e341e9f8" class="navblock cc-nbr">
                <div class="nav_linkcontainer">
                   <a href="#about" class="navlink w-nav-link">About Us</a>
                   <div class="nav_cindicator" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                </div>
             </div>
             <div id="w-node-9057e341ea02-e341e9f8" class="navblock">
                <div class="nav_linkcontainer">
                   <a href="/faqs" class="navlink w-nav-link">Beginnings</a>
                   <div class="nav_cindicator" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                </div>
             </div>
             <div id="w-node-9057e341ea07-e341e9f8" class="navblock cc-nbr">
                <div class="nav_linkcontainer">
                   <a href="#people" id="menu-link-projects" class="navlink w-nav-link">People</a>
                   <div class="nav_cindicator" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                </div>
             </div>
             <div id="w-node-9057e341ea0c-e341e9f8" class="navblock">
                <div class="nav_linkcontainer">
                   <a href="#services" class="navlink w-nav-link">Services</a>
                   <div class="nav_cindicator" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                </div>
             </div>
             <div id="w-node-4fb3d43ff6ce-e341e9f8" class="navblock cc-nbr">
                <div class="nav_linkcontainer">
                   <a href="#clients2-2p" id="menu-link-blog" class="navlink w-nav-link">Out Clients</a>
                   <div class="nav_cindicator" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                </div>
             </div>
             <div id="w-node-493a70d653f6-e341e9f8" class="navblock cc-hidedesktop">
                <div class="nav_linkcontainer">
                   <a href="/careers" class="navlink w-nav-link">CAReers</a>
                   <div class="nav_cindicator" style="transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                </div>
             </div>
          </div>
       </nav>
       <a href="#contacts" id="w-node-1ebbb40b3bde-e341e9f8" class="btn_main cc-navbtn w-inline-block">
          <div class="btn_text">contact us</div>
          <div class="btn_background cc-orangebg" style="transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
       </a>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0" style="display: none;">
    </div>
    
 </div>

 