<main id="ourpeopleMAIN_80">
	<section id="ourpeopleSECTION_1">
		<div id="ourpeopleDIV_2">
			<div id="ourpeopleDIV_3">
				<h2 id="ourpeopleH2_4">
					Board of Directors
				</h2>
				<p id="ourpeopleP_5">
					The best and brightest innovators in Silicon Valley advise our leaders.
				</p>
			</div>
			<div id="ourpeopleDIV_6">
				<img src="https://wac-cdn.atlassian.com/dam/jcr:221a65d3-ac84-448d-8e5a-b6f5d6a6ff21/Shona_Brown.jpg?cdnVersion=710" alt="Shona Brown" width="75px" height="75px" id="ourpeopleIMG_7" />
				<h4 id="ourpeopleH4_8">
					Shona Brown
				</h4>
				<p id="ourpeopleP_9">
					Chair of the Board
				</p> <a href="/dam/jcr:18481b1c-2327-4b0f-9bd0-4deb1c37c844/Shona_Brown.jpg" id="ourpeopleA_10">Headshot</a> <a href="https://www.linkedin.com/in/shona-brown-22428870" id="ourpeopleA_11"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Shona Brown on LinkedIn" width="20px" height="20px" id="ourpeopleIMG_12" /></a>
			</div>
			<div id="ourpeopleDIV_13">
				<img src="https://wac-cdn.atlassian.com/dam/jcr:a3c59e75-a604-4731-b695-d66ced644e3e/Mike_Cannon-Brookes.jpg?cdnVersion=710" alt="Mike Cannon-Brookes" width="75px" height="75px" id="ourpeopleIMG_14" />
				<h4 id="ourpeopleH4_15">
					Mike Cannon-Brookes
				</h4>
				<p id="ourpeopleP_16">
					Board Member
				</p> <a href="/dam/jcr:3ba52ffd-687f-4457-870a-c453826fd17d/Mike_Cannon-Brookes.jpg" id="ourpeopleA_17">Headshot</a> <a href="https://twitter.com/mcannonbrookes" id="ourpeopleA_18"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Follow @mcannonbrookes on Twitter" width="18px" height="18px" id="ourpeopleIMG_19" /></a> <a href="https://www.linkedin.com/in/mcannonbrookes" id="ourpeopleA_20"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Mike Cannon-Brookes on LinkedIn" width="18px" height="18px" id="ourpeopleIMG_21" /></a>
			</div>
			<div id="ourpeopleDIV_22">
				<img src="https://wac-cdn.atlassian.com/dam/jcr:73bc31fc-71e3-4e1b-9092-f0aefa16eff8/Scott_Farquhar.jpg?cdnVersion=710" alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
				<h4 id="ourpeopleH4_24">
					Scott Farquhar
				</h4>
				<p id="ourpeopleP_25">
					Board Member
				</p> <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a>
			</div>
			<div id="ourpeopleDIV_31">
				<img src="https://wac-cdn.atlassian.com/dam/jcr:34645b88-a36a-4501-a9d4-b2a31d871f9f/Heather_M_Fernandez.jpg?cdnVersion=710" alt="Heather M. Fernandez" width="75px" height="75px" id="ourpeopleIMG_32" />
				<h4 id="ourpeopleH4_33">
					Heather M. Fernandez
				</h4>
				<p id="ourpeopleP_34">
					Board Member
				</p> <a href="/dam/jcr:b344f83d-f0f5-4cdb-983f-c88ae6235779/Heather_Fernandez.jpg" id="ourpeopleA_35">Headshot</a> <a href="https://twitter.com/heathermirj" id="ourpeopleA_36"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Follow @heathermirj on Twitter" width="20px" height="20px" id="ourpeopleIMG_37" /></a> <a href="https://www.linkedin.com/in/heatherfernandez" id="ourpeopleA_38"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Heather M. Fernandez on LinkedIn" width="20px" height="20px" id="ourpeopleIMG_39" /></a>
			</div>
			<div id="ourpeopleDIV_40">
				<img src="https://wac-cdn.atlassian.com/dam/jcr:31c28f84-4591-4b8f-8a33-d12e55072adb/Sasan_%20Goodarzi_small.jpg?cdnVersion=710" alt="Sasan Goodarzi" width="75px" height="75px" id="ourpeopleIMG_41" />
				<h4 id="ourpeopleH4_42">
					Sasan Goodarzi
				</h4>
				<p id="ourpeopleP_43">
					Board Member
				</p> <a href="/dam/jcr:3d74fdd8-3eaa-4766-b786-5256e57d7ca6/Sasan%20Goodarzi.jpg" id="ourpeopleA_44">Headshot</a> <a href="https://www.linkedin.com/in/sasan-goodarzi-78764710/" id="ourpeopleA_45"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Heather M. Fernandez on LinkedIn" width="20px" height="20px" id="ourpeopleIMG_46" /></a>
			</div>
			<div id="ourpeopleDIV_47">
				<img src="https://wac-cdn.atlassian.com/dam/jcr:f0e8f19f-3e21-4191-b801-d249ac23a161/Jay_Parikh.jpg?cdnVersion=710" alt="Jay Parikh" width="75px" height="75px" id="ourpeopleIMG_48" />
				<h4 id="ourpeopleH4_49">
					Jay Parikh
				</h4>
				<p id="ourpeopleP_50">
					Board Member
				</p> <a href="/dam/jcr:762eb4f2-c7cf-48ad-88a6-a16edb5c026f/Jay_Parikh.jpg" id="ourpeopleA_51">Headshot</a> <a href="https://twitter.com/jayparikh" id="ourpeopleA_52"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Follow @jayparikh on Twitter" width="20px" height="20px" id="ourpeopleIMG_53" /></a> <a href="https://www.linkedin.com/in/jayparikh" id="ourpeopleA_54"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Jay Parikh on LinkedIn" width="20px" height="20px" id="ourpeopleIMG_55" /></a>
			</div>
			<div id="ourpeopleDIV_56">
				<img src="https://wac-cdn.atlassian.com/dam/jcr:95a066d7-4b0f-48dd-8c6b-9b4624db425b/Enrique_Salem.jpg?cdnVersion=710" alt="Enrique Salem" width="75px" height="75px" id="ourpeopleIMG_57" />
				<h4 id="ourpeopleH4_58">
					Enrique Salem
				</h4>
				<p id="ourpeopleP_59">
					Board Member
				</p> <a href="/dam/jcr:bd55c347-06af-4293-8c79-7774660469e8/Enrique_Salem.jpg" id="ourpeopleA_60">Headshot</a> <a href="https://twitter.com/enriquesalem" id="ourpeopleA_61"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Follow @enriquesalem on Twitter" width="20px" height="20px" id="ourpeopleIMG_62" /></a> <a href="https://www.linkedin.com/in/enriquesalem" id="ourpeopleA_63"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Enrique Salem on LinkedIn" width="20px" height="20px" id="ourpeopleIMG_64" /></a>
			</div>
			<div id="ourpeopleDIV_65">
				<img src="https://wac-cdn.atlassian.com/dam/jcr:ae9d794b-ee83-4b0e-846e-252e158907cd/Steve_Sordello.png?cdnVersion=710" alt="Steve Sordello" width="75px" height="75px" id="ourpeopleIMG_66" />
				<h4 id="ourpeopleH4_67">
					Steve Sordello
				</h4>
				<p id="ourpeopleP_68">
					Board Member
				</p> <a href="https://www.linkedin.com/in/stevesordello" id="ourpeopleA_69"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Steve Sordello on LinkedIn" width="20px" height="20px" id="ourpeopleIMG_70" /></a>
			</div>
			<div id="ourpeopleDIV_71">
				<img src="https://wac-cdn.atlassian.com/dam/jcr:48ae2d16-647f-44ab-a519-6b629e38223d/Rich_Wong.jpg?cdnVersion=710" alt="Rich Wong" width="75px" height="75px" id="ourpeopleIMG_72" />
				<h4 id="ourpeopleH4_73">
					Rich Wong
				</h4>
				<p id="ourpeopleP_74">
					Board Member
				</p> <a href="/dam/jcr:9df95622-5976-4830-ab2e-297cb7ee59b1/Rich_Wong.jpg" id="ourpeopleA_75">Headshot</a> <a href="https://twitter.com/RWong" id="ourpeopleA_76"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Follow @RWong on Twitter" width="20px" height="20px" id="ourpeopleIMG_77" /></a> <a href="https://www.linkedin.com/in/richpwong" id="ourpeopleA_78"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Rich Wong on LinkedIn" width="20px" height="20px" id="ourpeopleIMG_79" /></a>
			</div>
		</div>
	</section>
</main>