<main id="ourpeopleMAIN_80">
	<section id="ourpeopleSECTION_1">
		<div id="ourpeopleDIV_2">
			<div id="ourpeopleDIV_3">
				<h2 id="ourpeopleH2_4">
					Our People – Bright Sparks
				</h2>
				<p id="ourpeopleP_5">
					Our eight associates and twenty plus team members are committed to providing you with the very best solutions.
					<br>Our team is our biggest asset.
				</p>
			</div>
			<div  id="ourpeopleDIV_13">
				<img class="hvr-glow" src="https://wac-cdn.atlassian.com/dam/jcr:a3c59e75-a604-4731-b695-d66ced644e3e/Mike_Cannon-Brookes.jpg?cdnVersion=710" alt="Mike Cannon-Brookes" width="75px" height="75px" id="ourpeopleIMG_14" />
				<h4 id="ourpeopleH4_15">
					Sameera Jahangir
				</h4>
				<p id="ourpeopleP_16">
					Company  Secretary 
				</p> 
				<!-- <a href="/dam/jcr:3ba52ffd-687f-4457-870a-c453826fd17d/Mike_Cannon-Brookes.jpg" id="ourpeopleA_17">Headshot</a> <a href="https://twitter.com/mcannonbrookes" id="ourpeopleA_18"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Follow @mcannonbrookes on Twitter" width="18px" height="18px" id="ourpeopleIMG_19" /></a> <a href="https://www.linkedin.com/in/mcannonbrookes" id="ourpeopleA_20"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Mike Cannon-Brookes on LinkedIn" width="18px" height="18px" id="ourpeopleIMG_21" /></a> -->
			</div>
			<div id="ourpeopleDIV_22">
				<img class="hvr-glow" src="https://wac-cdn.atlassian.com/dam/jcr:73bc31fc-71e3-4e1b-9092-f0aefa16eff8/Scott_Farquhar.jpg?cdnVersion=710" alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
				<h4 id="ourpeopleH4_24">
					Bushra Shaad
				</h4>
				<p id="ourpeopleP_25">
					LL.B, Solicitor
				</p> 
				<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
			</div>
			<div id="ourpeopleDIV_22">
				<img class="hvr-glow" src="https://wac-cdn.atlassian.com/dam/jcr:73bc31fc-71e3-4e1b-9092-f0aefa16eff8/Scott_Farquhar.jpg?cdnVersion=710" alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
				<h4 id="ourpeopleH4_24">
					Roshan Rupani 
				</h4>
				<p id="ourpeopleP_25">
					M. Sc (IT), MBA - System Consultant
				</p>
				 <!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
			</div>
			<div id="ourpeopleDIV_40">
				<img class="hvr-glow" src="https://wac-cdn.atlassian.com/dam/jcr:31c28f84-4591-4b8f-8a33-d12e55072adb/Sasan_%20Goodarzi_small.jpg?cdnVersion=710" alt="Sasan Goodarzi" width="75px" height="75px" id="ourpeopleIMG_41" />
				<h4 id="ourpeopleH4_42">
					Ramesh Kunder 
				</h4>
				<p id="ourpeopleP_43">
					CA - Audit & Tax Consultant
				</p> 
				<!-- <a href="/dam/jcr:3d74fdd8-3eaa-4766-b786-5256e57d7ca6/Sasan%20Goodarzi.jpg" id="ourpeopleA_44">Headshot</a> <a href="https://www.linkedin.com/in/sasan-goodarzi-78764710/" id="ourpeopleA_45"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Heather M. Fernandez on LinkedIn" width="20px" height="20px" id="ourpeopleIMG_46" /></a> -->
			</div>
			<div id="ourpeopleDIV_13">
				<img class="hvr-glow" src="https://wac-cdn.atlassian.com/dam/jcr:a3c59e75-a604-4731-b695-d66ced644e3e/Mike_Cannon-Brookes.jpg?cdnVersion=710" alt="Mike Cannon-Brookes" width="75px" height="75px" id="ourpeopleIMG_14" />
				<h4 id="ourpeopleH4_15">
					Mubarak Ali Temrikar 
				</h4>
				<p id="ourpeopleP_16">
					LLB, CAIIB ,Legal Consultant
				</p>
				 <!-- <a href="/dam/jcr:3ba52ffd-687f-4457-870a-c453826fd17d/Mike_Cannon-Brookes.jpg" id="ourpeopleA_17">Headshot</a> <a href="https://twitter.com/mcannonbrookes" id="ourpeopleA_18"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Follow @mcannonbrookes on Twitter" width="18px" height="18px" id="ourpeopleIMG_19" /></a> <a href="https://www.linkedin.com/in/mcannonbrookes" id="ourpeopleA_20"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Mike Cannon-Brookes on LinkedIn" width="18px" height="18px" id="ourpeopleIMG_21" /></a> -->
			</div>
			<div id="ourpeopleDIV_22">
				<img class="hvr-glow" src="https://wac-cdn.atlassian.com/dam/jcr:73bc31fc-71e3-4e1b-9092-f0aefa16eff8/Scott_Farquhar.jpg?cdnVersion=710" alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
				<h4 id="ourpeopleH4_24">
					Jiten Mehta
				</h4>
				<p id="ourpeopleP_25">
					CA - Audit & Tax Consultant
				</p> 
				<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
			</div>
			<div id="ourpeopleDIV_22">
				<img class="hvr-glow" src="https://wac-cdn.atlassian.com/dam/jcr:73bc31fc-71e3-4e1b-9092-f0aefa16eff8/Scott_Farquhar.jpg?cdnVersion=710" alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
				<h4 id="ourpeopleH4_24">
					Abdul Aziz
				</h4>
				<p id="ourpeopleP_25">
					B.E., MMS (Marketing) 
				</p> 
				<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
			</div>
			<div id="ourpeopleDIV_40">
				<img class="hvr-glow" src="https://wac-cdn.atlassian.com/dam/jcr:31c28f84-4591-4b8f-8a33-d12e55072adb/Sasan_%20Goodarzi_small.jpg?cdnVersion=710" alt="Sasan Goodarzi" width="75px" height="75px" id="ourpeopleIMG_41" />
				<h4 id="ourpeopleH4_42">
					Parulkar 
				</h4>
				<p id="ourpeopleP_43">
					Ex- BOI - Audit Partner 
				</p> 
				<!-- <a href="/dam/jcr:3d74fdd8-3eaa-4766-b786-5256e57d7ca6/Sasan%20Goodarzi.jpg" id="ourpeopleA_44">Headshot</a> <a href="https://www.linkedin.com/in/sasan-goodarzi-78764710/" id="ourpeopleA_45"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="Follow Heather M. Fernandez on LinkedIn" width="20px" height="20px" id="ourpeopleIMG_46" /></a> -->
			</div>
		</div>
	</section>
</main>