<div class="container" id="people">


	<div class="column text-center s0 between">
		<div class="component component--heading-textblock">
			<h2 class="heading"> Our People – Bright Sparks </h2>
			<p>
				Our eight associates and twenty plus team members are committed to providing you with the very best
				solutions.
				<br>Our team is our biggest asset.
			</p>
		</div>
	</div>
	<br>
	<br>
	<div class="column s0 between">
		<div class="container-fluid xs-cozy-top section-board">
			<div class="row flex-container">
				<div id="ourpeopleDIV_22">
					<img class="hvr-glow"
						src="https://wac-cdn.atlassian.com/dam/jcr:a3c59e75-a604-4731-b695-d66ced644e3e/Mike_Cannon-Brookes.jpg?cdnVersion=710"
						alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
					<h4 style="font-weight: 600;">
						Sameera Jahangir
					</h4>
					
					<p style="font-weight: 500;">
						Company  Secretary
					</p>
					<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
				</div>
				<div id="ourpeopleDIV_22">
					<img class="hvr-glow"
						src="https://wac-cdn.atlassian.com/dam/jcr:73bc31fc-71e3-4e1b-9092-f0aefa16eff8/Scott_Farquhar.jpg?cdnVersion=710"
						alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
					<h4 style="font-weight: 600;">
						Bushra Shaad
					</h4>
					
					<p style="font-weight: 500;">
						LL.B, Solicitor
					</p>
					<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
				</div>
				<div id="ourpeopleDIV_22">
					<img class="hvr-glow"
						src="https://wac-cdn.atlassian.com/dam/jcr:73bc31fc-71e3-4e1b-9092-f0aefa16eff8/Scott_Farquhar.jpg?cdnVersion=710"
						alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
					<h4 style="font-weight: 600;">
							Roshan Rupani
					</h4>
					
					<p style="font-weight: 500;" >
						M. Sc (IT), MBA - System Consultant
					</p>
					<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
				</div>
				<div id="ourpeopleDIV_22">
					<img class="hvr-glow"
						src="https://wac-cdn.atlassian.com/dam/jcr:31c28f84-4591-4b8f-8a33-d12e55072adb/Sasan_%20Goodarzi_small.jpg?cdnVersion=710"
						alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
					<h4 style="font-weight: 600;">
						Ramesh Kunder
					</h4>
					
					<p style="font-weight: 500;">
						CA - Audit & Tax Consultant
					</p>
					<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
				</div>
				<div id="ourpeopleDIV_22">
					<img class="hvr-glow"
						src="https://wac-cdn.atlassian.com/dam/jcr:a3c59e75-a604-4731-b695-d66ced644e3e/Mike_Cannon-Brookes.jpg?cdnVersion=710"
						alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
					<h4 style="font-weight: 600;">
						Mubarak Ali Temrikar
					</h4>
					
					<p style="font-weight: 500;">
						LLB, CAIIB ,Legal Consultant
					</p>
					<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
				</div>
				<div id="ourpeopleDIV_22">
					<img class="hvr-glow"
						src="https://wac-cdn.atlassian.com/dam/jcr:73bc31fc-71e3-4e1b-9092-f0aefa16eff8/Scott_Farquhar.jpg?cdnVersion=710"
						alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
					<h4 style="font-weight: 600;">
						Jiten Mehta
					</h4>
					
					<p style="font-weight: 500;">
						CA - Audit & Tax Consultant
					</p>
					<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
				</div>
				<div id="ourpeopleDIV_22">
					<img class="hvr-glow"
						src="https://wac-cdn.atlassian.com/dam/jcr:73bc31fc-71e3-4e1b-9092-f0aefa16eff8/Scott_Farquhar.jpg?cdnVersion=710"
						alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
					<h4 style="font-weight: 600;">
						Abdul Aziz
					</h4>
					
					<p style="font-weight: 500;">
						B.E., MMS (Marketing) 
					</p>
					<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
				</div>
				<div id="ourpeopleDIV_22">
					<img class="hvr-glow"
						src="https://wac-cdn.atlassian.com/dam/jcr:31c28f84-4591-4b8f-8a33-d12e55072adb/Sasan_%20Goodarzi_small.jpg?cdnVersion=710"
						alt="Scott Farquhar" width="75px" height="75px" id="ourpeopleIMG_23" />
					<h4 style="font-weight: 600;">
						Parulkar
					</h4>
					
					<p style="font-weight: 500;">
						Ex- BOI - Audit Partner 
					</p>
					<!-- <a href="/dam/jcr:d0f00c80-36c7-4475-a7b4-1f3cd535d349/Scott_Farquhar.jpg" id="ourpeopleA_26">Headshot</a> <a href="https://twitter.com/scottfarkas" id="ourpeopleA_27"><img src="https://wac-cdn.atlassian.com/dam/jcr:a577bca4-a946-4324-b4d8-f18b68f71d73/twitter-circle-gray.svg?cdnVersion=710" alt="Twitter icon" width="18px" height="18px" id="ourpeopleIMG_28" /></a> <a href="https://www.linkedin.com/in/scottfarquhar" id="ourpeopleA_29"><img src="https://wac-cdn.atlassian.com/dam/jcr:bdef49ea-2ca5-42ef-83c9-7b1d27c1f41d/linkedin-circle-gray.svg?cdnVersion=710" alt="LinkedIn icon" width="18px" height="18px" id="ourpeopleIMG_30" /></a> -->
				</div>
			</div>
			
		</div>
	</div>
</div>